<h2>Empleados</h2>

<div class="flex-buttons-start">
  <button mat-raised-button color="accent" class="flex-buttons-start__button" (click)="navigateToCreate()">Añadir <mat-icon>add</mat-icon> </button>
  <button mat-raised-button color="primary" class="flex-buttons-start__button" (click)="refreshButton()">Actualizar <mat-icon>refresh</mat-icon> </button>
  <button mat-raised-button color="primary" class="flex-buttons-start__button" (click)="navigateToSeeDelete()"> Ver papelera <mat-icon matBadge="{{binService.getBinLength()}}" matBadgeOverlap="false">delete</mat-icon> </button>
</div>

<div class="table-and-paginator">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> ID </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{element.id}} </td>
    </ng-container>
        
          
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="table-header" > Nombre completo </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{element.name}} {{element.firstName}} {{element.lastName}} </td>
    </ng-container>
        
          
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Nacionaldiad </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{element.nationality}} </td>
    </ng-container>
        
        
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef class="table-header"> DNI </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{element.dni}} </td>
    </ng-container>
        
    <ng-container matColumnDef="bornDate">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{dateService.getDate(element.bornDate)}} </td>
    </ng-container>
        
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Estado </th>
      <td mat-cell *matCellDef="let element" class="table-data"> {{stateService.getStateToString(element.state)}} </td>
    </ng-container>
        
          <!-- Tablas de con iconos -->
        
    <ng-container matColumnDef="delete" class="table-icon">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Editar </th>
      <td mat-cell *matCellDef="let element" class="table-data" (click)="openDialogEdit(element.id)"> <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon> </td>
    </ng-container>
        
    <ng-container matColumnDef="edit" class="table-icon">
     <th mat-header-cell *matHeaderCellDef class="table-header"> Borrar </th>
     <td mat-cell *matCellDef="let element" class="table-data" (click)="openDialogDelete(element.id)"> <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon> </td>
    </ng-container>
        
    <ng-container matColumnDef="contract" class="table-icon">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Contratos </th>
      <td mat-cell *matCellDef="let element" class="table-data" (click)="navigateToContracts(element.id)"> <mat-icon aria-hidden="false" aria-label="contract">book</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="address" class="table-icon">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Dirección </th>
      <td mat-cell *matCellDef="let element" class="table-data">
        <mat-accordion class="example-headers-align" multi *ngIf="element.address">
          <mat-expansion-panel> 
            <mat-expansion-panel-header>
              <span>C/ {{element.address.street}}</span>
            </mat-expansion-panel-header>
            <div class="grid-expansion">
              <div class="grid-expansion-info">
                <span class="span-expansion">Numero : {{element.address.number}}</span>           <br>
                <span class="span-expansion">Bloque : {{element.address.block}}</span>            <br>
                <span class="span-expansion">Planta : {{element.address.floor}}</span>            <br>
                <span class="span-expansion">Puerta : {{element.address.door}}</span>             <br>
                <span class="span-expansion">Codigo postal : {{element.address.postCode}}</span>  <br>
                <span class="span-expansion">Localidad : {{element.address.localty}}</span>       <br>
                <span class="span-expansion">Provincia : {{element.address.province}}</span>      <br>
              </div>
              <div class="grid-expansion-edit">
                <button mat-raised-button color="accent" (click)="openDialogEditAddress(element.id)"><mat-icon>edit</mat-icon> </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <button mat-raised-button *ngIf="!element.address" (click)="openDialogCreateAddress(element.id)">Añadir <mat-icon>add</mat-icon> </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of workers">
  </mat-paginator>
</div>