<div class="nav-bar">
  <img src="../assets/dekra-1.svg" id="logo" (click)="goToList()">
  <h1 id="msg-bienvenida">PRACTIA FP DUAL DEKRA</h1>
  <div>
    <button mat-raised-button color="primary" class="nav-bar__buttons">Informe <mat-icon>note</mat-icon> </button>
    <button mat-raised-button color="primary" class="nav-bar__buttons">Guardar <mat-icon>save</mat-icon> </button>
    <button mat-raised-button color="accent" class="nav-bar__buttons">Salir <mat-icon>close</mat-icon> </button>
  </div>
</div>
<router-outlet></router-outlet>