<h2>Crear Dirección</h2>
<div class="grid-inputs">
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Calle</mat-label>
        <input matInput [(ngModel)]="addressCreating.street">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Numero</mat-label>
        <input matInput [(ngModel)]="addressCreating.number">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Bloque</mat-label>
        <input matInput [(ngModel)]="addressCreating.block">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Planta</mat-label>
        <input matInput [(ngModel)]="addressCreating.floor">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Puerta</mat-label>
        <input matInput [(ngModel)]="addressCreating.door">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Código postal</mat-label>
        <input matInput [(ngModel)]="addressCreating.postCode">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Localidad</mat-label>
        <input matInput [(ngModel)]="addressCreating.locality">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="input-field">
        <mat-label>Provincia</mat-label>
        <input matInput [(ngModel)]="addressCreating.province">
    </mat-form-field>
</div>
<div class="flex-buttons">
    <button mat-raised-button color="warn" (click)="cancel()" class="button-end">Cancelar <mat-icon>cancel</mat-icon> </button>
    <button mat-raised-button color="accent" (click)="create()" class="button-end">Crear <mat-icon>add</mat-icon> </button>
</div>
<span id="message-end">{{message}}</span>