.grid-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 310px;
}
.flex-lastInput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}
.button-end{
    margin: 4px;
}
.button-addDate{
    margin-bottom: 1.34375em;
}
h2{
    text-align: center;
}