/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red-snackbar{
    background: rgb(248, 56, 56);
}
.green-snackbar{
    background: rgb(1, 196, 1);
}
.yellow-snackbar{
    background: rgb(247, 247, 31);
}
.mat-content{
    justify-content: center;
}