.button-start-create{
    margin: 15px;
}
.card-create{
    margin: 35px;
}
.mat-card-title{
    text-align: center;
    padding: 15px;
}

.flex-formfield{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input-formgroup{
    text-align: center;
}