.flex-inputs{
    width: 350px;
}
.inputs{
    width: 100%;
}
.buttons-display{
    margin-bottom: 5px;
}

h2{
    text-align: center;
}
.flex-buttons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}