<h2>Crear contrato</h2>
<div class="grid-inputs">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Fecha inicio contrato</mat-label>
            <input matInput [matDatepicker]="picker"
                   (dateChange)="editDate( 'start', $event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
    </p>
    <p>
        <button *ngIf="!dateEndNeeded" mat-raised-button color="accent" (click)="createEndContractDate()" class="button-addDate">
            Añadir fecha final de contrato <mat-icon>add</mat-icon>
        </button>
        <ng-container *ngIf="dateEndNeeded">
            <mat-form-field appearance="outline">
                <mat-label>Fecha final contrato</mat-label>
                <input matInput [matDatepicker]="picker"
                   (dateChange)="editDate('end' , $event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </ng-container>
    </p>
    <p>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Salario</mat-label>
            <input matInput [(ngModel)]="contractCreating.salary">
        </mat-form-field>
    </p>
    <p>
        <button *ngIf="!dateEstimatedEndNeeded" mat-raised-button color="accent" (click)="createEstimatedEndContractDate()" class="button-addDate">
            Añadir fecha final estimada del contrato <mat-icon>add</mat-icon>
        </button>
        <ng-container *ngIf="dateEstimatedEndNeeded">
            <mat-form-field appearance="outline">
                <mat-label>Fecha final estimada del contrato</mat-label>
                <input matInput [matDatepicker]="picker"
                   (dateChange)="editDate('estimatedEnd' , $event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </ng-container>
    </p>
</div>
<div class="flex-lastInput">
    <p>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Puesto</mat-label>
            <mat-select [(value)]="contractCreating.position">
              <mat-option *ngFor="let position of positions" [value]="position.value">
                {{position.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </p>
</div>
<div class="flex-buttons">
    <button mat-raised-button color="warn" (click)="cancel()" class="button-end">Cancelar <mat-icon>cancel</mat-icon> </button>
    <button mat-raised-button color="accent" (click)="create()" class="button-end">Crear contrato <mat-icon>add</mat-icon> </button>
</div>